<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<meta charset="utf-8" />
<title>Определение класса текста</title>
<style>
body {background: url({% static "Фон.jpg" %});}
</style>
</head>
<body>

	<p><img src="{% static "Шапка сайта.png" %}"  width="390" height="68"></p>
	<h2 style="font-family: Impact">Определение класса текста.</h2>
	<form method="POST">
		{% csrf_token %}
		<div>
			<textarea type="text" name="text" style="height: 400px; width: 700px;" placeholder="Введите текст для проверки"></textarea>
		</div>
		<div>
			<input type="submit" value="Определить класс" style="height: 30px; width: 400px;">
		</div>
	</form>
</body>
</html>